html, body {
    height:100%;
    margin:0;
  }
#weather{
    width:100%;
    margin:0 auto;
    height:260px;
    /* bottom: 0;
    position: fixed; */
    position: absolute;
    bottom:15px;
    background: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 1px 10px 30px #000;
}

.container{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weatherInf{
    display:flex;
    color: #000;
}
.weatherDetail{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
}
.content{
    padding:20px;
    font-size: 12px;
    border:1px solid #c6c6c6;
}
.place{
    border:none;
    background: #2b9fc9;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 17px;
    font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
}
.location{
    width:60px;
    height:45px;
}
.tempInf,.tempContent,.status{
    margin:5px;
    font-family: Microsoft JhengHei,Noto Sans TC,sans-serif;
}
.tempContent{
    font-size: 20px;
}
.tempInf{
    font-size: 25px;
    display: flex;
    align-items: baseline;
    border-right: 1px solid #c1c1c1;
    padding-right: 15px;
}
.tempInf > p:nth-child(1){
    font-size: 50px;
}
.status{
    font-size: 10px;
}
.weatherIcon{
    width: 60px;
    height: 60px;
    margin: 5px;
    background: url(../img/sunny_cloud.png)no-repeat;
    background-size: contain;
}
.cUnit{
    font-size: 15px;
}
.ad{
    margin:10px;
    height: 130px;
    background: url(../img/ad1.jpg)no-repeat center center;
    background-size: contain;
    padding: 10px;
    margin: 10px;
    border: 1px solid #000;
}